html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-wrapper {
  background: linear-gradient(270deg, #a0e9ff 40%, #a162e8 55%, #f093b0 75%, #edca85 96%);
  padding: 6px;
  display: inline-block;
  border-radius: 12px;
  display: inline-block;
}

.c-hero-projects {
  display: flex;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  height: 60vh;
  overflow: hidden;
  position: relative;
  padding: 20px;
  background-color: #111;
  border-radius: 12px;
}

.c-hero-projects-sidebar {
  width: 200px;
  color: #fff;
  padding-top: 95px;
  box-sizing: border-box;
  overflow: hidden;
  position: sticky;
  top: 95px;
  height: 60vh;
}

.c-hero-projects-sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.c-hero-projects-sidebar a:hover {
    text-decoration: underline;
}

.scrollable-content {
    flex: 1;
    overflow-y: auto;
    height: 60vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 12px;
}

.project-content {
    height: 60vh;
    margin-bottom: 60vh;
    padding: 12px;
    background: linear-gradient(90deg,#edca85 14%, #f093b0 75%);
}

/* .project-content:nth-child(odd) {
    background: #edca85;
}

.project-content:nth-child(even) {
    background: #e0e0e0;
} */